body {
    background-color: black;
}

h1 {
    text-align: center;
    color: white;
    font-size: 35px;
}



#childDiv {
    text-align: center;
    color: red;
    font-size: 30px;
}

#frames {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 500px;
    z-index: 1;
}

#gems {
    display: block;
    position: fixed;
    /*65*/
    top: 37%;
    /*right: 710*/
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    z-index: 2;
}

#tasklistDiv {
    display: block;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    color: white;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}