body {
    background-color: black;
}

h1 {
    text-align: center;
    color: white;
}

#frames {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 500px;
    z-index: 1;
}

.gems {
    display: block;
    position: absolute;
    top: 65px;
    right: 230px;
    width: 500px;
    height: 500px;
    z-index: 2;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}